// Colors

$default-color: hsl(219, 67%, 35%);
$neutral-color: hsl(208, 56%, 48%);
$background-color: hsl(0, 0%, 95%);

$input-color: hsl(219, 100%, 96%);
$secondary-color: hsl(7, 71%, 55%);
$white-color: hsl(0, 0%, 100%);
//858
$font-color-default: hsl(223, 3%, 54%);
//7170
$font-color-primary: hsl(0, 0%, 44%);
//AFAFAF
$font-color-secondary: hsl(0, 0%, 90%);
//f1f1f1
$font-color-background: hsl(0, 0%, 95%);
$font-black: hsl(0, 0%, 0%);
$error-color: hsl(355, 41%, 32%);
$error-background: hsl(354, 67%, 91%);
